* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: 'myFontRegular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
}

.main {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/594328/17392781_1582183591809672_505764770_n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

.test-panel {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    width:fit-content;
    min-width: 150px;
    height: fit-content;
    min-height: 100px;
    padding: 10px;
    font-family: "JunctionLight";
    font-size: 14px;
    color: black;
    backGround: white;
    border-radius: 4px;
}

.login-link {
  white-space: nowrap;
  text-decoration: none;
  padding: 0 1em;
  border: 1px solid transparent;
}

.login-link:hover {
   color:red;
   border-right: 1px solid red;
   border-left: 1px solid red;
}

.login-link:active {
   border: 1px solid transparent;
}